
#heading{
    text-align: center;
    color: rgba(30, 30, 91,.7);
}
#line{
    color: red;
}
#table{
    margin-top: 2%;
    margin-left: auto ;
    margin-right: auto ;
    font-size: 20px;
    width: 60%;
    height: 300px;
}

 #table tr:nth-child(even){
     background-color: skyblue;
     color:white;
 }
 
 #table th{
     background-color:rgb(30, 30, 91);
     color: white;
 }